html,
body {
  margin: 0;
}

body {
  /* make sure there is still padding around the window when the viewport is narrow */
  padding-inline: 1rem;
}

.window {
  width: fit-content;
  margin-inline: auto;
}

.links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 0.5rem;
  row-gap: 0.25rem;
}
